# Python specific
# Игнорировать скомпилированные байт-код файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать каталоги виртуальных окружений
# Важно: если ваше виртуальное окружение называется 'env' или 'venv',
# убедитесь, что эти строки присутствуют.
# Если вы используете poetry или pipenv, они могут создавать свои папки,
# которые также стоит добавить, если они находятся в корне проекта.
env/
venv/

# Игнорировать файлы, генерируемые инструментами Python
*.egg-info/
.pytest_cache/ # Кэш pytest
.mypy_cache/   # Кэш mypy (для статической типизации)

# IDE specific
# Игнорировать папки настроек популярных IDE
.vscode/ # VS Code settings
.idea/   # PyCharm settings

# OS specific
# Игнорировать системные файлы операционных систем
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Environment variables
# Игнорировать файл с переменными окружения, который обычно содержит секретные данные
.env

# Docker specific (если планируете использовать Docker)
.dockerignore